.project-boards-container {
  padding: 20px 20px 20px 50px;
  flex-grow: 1;

  .project-boards-header {
    display: flex;
    font-size: 27pt;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .project-boards {
    padding: 20px;

    .board-card {
      margin: 10px 10px 10px 10px;
      border: solid 1px gainsboro;

      .board-description-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .board-description-text {

        }

        .board-description-count-container {
          display: flex;
          gap: 10px;
        }

        .board-description-count {
          padding: 5px 5px 5px 5px;
          justify-content: center;
          align-items: center;
          border-radius: 11px;
          font-size: 14px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

          .description-count-title {
            display: inline-block;
            margin-right: 2px;
          }

          .description-count-value {

          }
        }
      }
    }

    .board-card:first-child {
      margin-left: 0;
    }
  }
}