.project-boards-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 50px;

  .project-boards-header {
    display: flex;
    font-size: 27pt;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .project-boards {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    flex-wrap: wrap;
    align-content: start;
    gap: 20px;

    .board-card {
      display: flex;
      flex-direction: column;
      min-width: 250px;
      min-height: 150px;
      max-width: 250px;
      max-height: 250px;
      border: solid 1px gainsboro;

      .board-card-header {
        display: flex;
        flex-direction: row;
        align-items: start;

        .board-card-title {
          font-size: 16pt;
          font-weight: 550;
          flex-grow: 1;
        }
      }

      .board-description-container {
        flex-direction: column;

        .board-description-text {
          margin-top: 10px;
          max-height: 120px;
          overflow: auto;
          flex-grow: 0;
        }

        .board-description-count-container {
          margin-top: 10px;

          align-content: end;
          display: flex;
          gap: 10px;
          flex-grow: 1;
        }

        .board-description-count {
          align-self: flex-end;
          display: flex;
          padding: 5px 5px 5px 5px;
          border-radius: 11px;
          font-size: 14px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

          .description-count-title {
            display: inline-block;
            margin-right: 2px;
            font-weight: 550;
          }

          .description-count-value {
            font-weight: 550;
          }
        }
      }
    }

    .create-board-button-container {
      display: flex;
      flex-direction: row;
      align-self: start;
      justify-content: center;
      align-items: center;

      border: gainsboro 1px solid;
      border-radius: 10px;
      padding: 2px 5px 2px 5px;
      min-width: 150px;

      .create-board-button {
        padding: 0;
      }
    }
  }
}