.board-column-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  flex-grow: 1;
  height: 100vh;

  .board-column-header {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }

  .board-columns {
    display: flex;
    gap: 10px;
  }
}
